<?php

/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

declare(strict_types=1);

use Mezzio\Container;
use Mezzio\Middleware\ErrorResponseGenerator;

$databases = [
    'default' => [
        'host'     => 'it-webdb02.midnet.cityofmiddletown.com',
        'dbname'   => 'ecm_dev',
        'user'     => 'ecm',
        'password' => 'Lb64z9UivUKPwduFb4ap',
        'port'     => 3306,
        'driver'   => 'pdo_mysql',
        'charset'  => 'utf8mb4',
        'collate'  => 'utf8mb4_general_ci',
    ],
];

return [
    'application'         => [
        'name' => 'Electronic Contract Manager',
        'url'  => 'https://ecm.dev.local',
    ],
    'databases' => $databases,
    'box-config' => json_decode(file_get_contents(realpath(__DIR__ . '/../../config/autoload/1328932288_vgguurzc_config.json'))),
    'dependencies' => [
        'invokables' => [],
        'factories'  => [
            ErrorResponseGenerator::class => Container\WhoopsErrorResponseGeneratorFactory::class,
            'Mezzio\Whoops'               => Container\WhoopsFactory::class,
            'Mezzio\WhoopsPageHandler'    => Container\WhoopsPageHandlerFactory::class,
        ],
    ],
    'whoops'       => [
        'json_exceptions' => [
            'display'    => true,
            'show_trace' => true,
            'ajax_only'  => true,
        ],
    ],
];
